<!doctype html>
<html lang="en" ng-app="yogaClassApp">
<head>
  <meta charset="utf-8">
  <title>Yoga Class Angular App</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/style.css"/>

  <!-- Latest compiled and minified JavaScript -->
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
</head>
<body ng-controller="YogaClassCtrl">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
      <div class="title">
        <h1>Yoga Class Schedule</h1>
      </div><!-- title -->

      <div class="search">
        <!-- Filtering -->
        
        <label>Search All: </label>
        <input ng-model="query">

        <label>Day: </label>
        <input type="text" ng-model="filter.day" placeholder="Day of the Week">

        <label>Studio: </label>
        <input type="checkbox" ng-model="studios.capitolHill"> Capitol Hill
        <input type="checkbox" ng-model="studios.wedgewood"> Wedgewood

      </div><!-- search -->

      <table class="table table-bordered table-striped table-hover">
        <tbody>
          <tr>
            <th>Begins</th>
            <th>Ends</th>
            <th>Day</th>
            <th>Class</th>
            <th>Teacher</th>
            <th>Studio</th>
            <th>Level</th>
          </tr>
          <tr ng-repeat="class in classes | filter:query | orderBy:dayNumber | filter:{day: filter.day} | myFilter:studios">
            <td>{{class.startTime}}</td>
            <td>{{class.endTime}}</td>
            <td>{{class.day}}</td>
            <td>{{class.name}}</td>
            <td>{{class.teacher}}</td>
            <td>{{class.studio}}</td>
            <td>{{class.level}}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- col-md-10 -->

    <div class="col-md-1"></div>
  </div><!-- row -->

</body>
</html>
