<!doctype html>
<html lang="en" ng-app="yogaClassApp">
<head>
  <meta charset="utf-8">
  <title>Yoga Studio</title>

  <link rel="stylesheet" href="css/style.css"/>

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <!-- Bower Components -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  <script src='bower_components/lodash/dist/lodash.underscore.min.js'></script>
  <script src='bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>

  <!-- JavaScript -->
  <script src="js/utilities.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>

  <!-- For development -->
  <base href="/">

  <!-- For production -->
  <!-- <base href="/devlab/yoga_class/app/"> --> 
</head>

<body>

  <header>

    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="ScrollController">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Yoga Studio</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="gotoSchedule()">Schedule</a></li>
          <li><a href="passes">Passes & Rates</a></li>
          <li><a href="training">Training</a></li>
          <li><a ng-click="gotoStudioLocation()">Studios & Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div id="main">
    <div ng-view></div>
  </div>

  <footer>
    <div class="container">
      <p><a href="http://meredithunderell.com" target="_blank">Design & Development by Meredith Underell</a> - <a href="https://github.com/MeredithU/yoga_class_schedule" target="_blank">GitHub Repo</a></p>
      <p>This is not a real yoga studio - this is for development purposes only</p>
    </div>
  </footer>

</body>
</html>















