@import 'vars';
@import 'mixins';


/*************************************************
		Base
*************************************************/

section#schedule, section#about, section#contact, footer {
	margin-top: 40px;
}

button {
	background: none;
	border: solid 1px;
	letter-spacing: 2px;
	min-width: 18em;
	padding: 0.75em 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.title {
	padding-bottom: 30px;
	text-align: center; 
}

/*************************************************
		Header - Nav Bar
*************************************************/

nav {
	background-color: #9eccb3;
	font-size: 16px;
	position: fixed;
	width: 100%;
	height: 70px;
	margin: 0;
	letter-spacing: 0.075em;
	text-align: right;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  ul {
  	color: #fff;
		padding-top: 22px;
		padding-right: 100px;
		word-spacing: 1.2em;

		li {
			&:hover {
		  	color: #ef5185;
		  }

		  & a {
		  	color: #fff;
		  }

		  & a:hover {
		  	text-decoration: none;
		  }
		} 
	}
}

nav.sticky {
	background-color: #fff;
	border-bottom: 1px solid #e4e4e4;
	font-size: 14px;
  height: 56px; 
  z-index: 1000;

  ul {
  	padding-top: 16px;

  	li {
  		a {
  			color: #7c8081;

  			&:hover {
		  		color: #ef5185;
		  	}
  		}
  	}
  }
}


/*************************************************
		Banner
*************************************************/

#banner {
	background-image: url("../img/banner-yoga-pose.jpg");
	background-attachment: fixed;
	padding-top: 200px;
	padding-bottom: 300px;
	text-align: center;

	.inner {
		@include border-radius(4px);
		background: rgba(52, 27, 43, 0.5);
		color: #fff;
		display: inline-block;
		padding: 3em;

		h1 {
  		color: #fff;
  		margin-top: 0px;
  	}

  	button {
  		margin-top: 18px;
  		text-transform: uppercase;

  		&:hover {
  			background: rgba(52, 27, 43, 0.6);
  			transition: all 0.2s ease-in-out;
  		}
  	}
	}
}


/*************************************************
		Class Schedule
*************************************************/

section#schedule {
	height: 600px;
	padding-left: 80px;
	padding-right: 80px;
}

#schedule {

	.search {
		@include border-radius(4px);
		background-color: #9B90C8;
		color: #fff;
		height: 100%;
		text-align: left;
		padding: 30px 0px;

		.preference-filter {
			padding-bottom: 20px;
			font-weight: 300;

			.row {
				margin-left: 0;
				margin-right: 0;
			}
		}

		.preference-filter.text-field-filter input {
			@include border-radius(4px);
			color: #000;
			padding-left: 5px;
		}

		.preference-filter.last-item {
			padding-bottom: 0px;
		}
	}

	label {
		margin-left: 15px;
		font-weight: 300;
		text-decoration: underline;
	}

	& a {
  	color: #000;
  }

  & a:hover {
  	color: #ef5185;
  	text-decoration: none;
  }
}


/*************************************************
		About
*************************************************/

#about.container, #contact.container {
	@include border-radius(4px);
	color: #7c8081;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;

	& img {
		display: block;
		margin: 0 auto;
		padding: 20px;
	}

	& h3, p {
		margin-left: 70px;
		margin-right: 70px;
		text-align: center;
		line-height: 1.6em;
		letter-spacing: 0.025em;
	}

	& h3 {
		color: #9B90C8;
		margin-top: 0px;
	}

	& p {
		font-size: 16px;
	}

	button {
		display: block;
  	margin: 18px auto;
  	text-transform: uppercase;

  	&:hover {
  		background-color: #ef5185;
  		color: #fff;
  		transition: all 0.2s ease-in-out;
  	}
  }
}

/*************************************************
		Contact
*************************************************/

.angular-google-map-container { 
	height: 264px;
	width: 473px; 
	display: block;
	margin: 20px auto;
}

#contact.container {

	.location {

		.location-logistics p {
			margin-left: 50px;
			margin-right: 0px;
			text-align: left;
		}

		.location-info p {
			margin-left: 0px;
			text-align: left;
		}
	}
}

/*************************************************
		Footer
*************************************************/

footer {
	border-top: 1px solid #e3c59f;

	& p {
		color: #aab1b0;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;

		& a {
			color: #aab1b0;
			text-decoration: none;
		}
	}
}

/*************************************************
		Twitter Bootstrap-SASS Customizing
*************************************************/

$headings-color: #9eccb3;
$link-hover-color: #ef5185;

@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
